<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Recommendation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="Styles/home.css">
</head>
<body>
    <div class="container">
       <div class="header">
        <div class="logo"></div>
        <div class="links">   
            <a href="/">Home</a>
            <form action="/logIN" method="get">
                <button type="submit" value="Sign Up" class="submit">Sign Up</button>
            </form>
            <form action="/wishlist" method="post">
                <button type="submit" value="Wishlist" class="submit">Wishlist</button>
            </form>
            <form action="/cart" method="post">
                <button type="submit" value="cart" class="submit">Shopping List</button>
            </form>
            <form class="example" action="/search" method="post">  
                <input type="text" placeholder="Search for Recipes" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div> 
    <div class="hamburger" onclick="toggleMenu()"><i class="fa fa-bars"></i></div>
  <div style="display: none;" class="mobile-view" id="mobileMenu">
      <a href="/">Home</a>
      <form action="/logIN" method="get">
          <button type="submit" class="navbar">Sign Up</button>
      </form>
      <form action="/wishlist" method="post">
          <button type="submit" class="navbar">Wishlist</button>
      </form>
      <form action="/cart" method="post">
          <button type="submit" class="navbar">Shopping List</button>
      </form>
  </div>
 
</div>
    <main>
      <div class="search-bar">
        <form class="example" action="/search" method="post">  
          <input type="text" placeholder="Search for Recipes" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
    </form>
      </div>
        <div class="content">
        <p id="design">WHAT TO COOK TODAY</p>
        </div>
        <div class="one">
        <div class="images1">
          <form action="/allRecipes" method="post">
            <img src="Images/AllRecipes.jpeg" alt="" id="one">
           <input type="submit" name="getrecipe" value="All Recipes" id="content" class="c5"> 
        </form> 
           <form action="/GetRecipes" method="post">
                <img src="Images/Food1.jpg" alt="" id="one">
           <input type="submit" name="getrecipe" value="Dietary"  id="content" class="c1" >     
        </form>
        <form action="/GetRecipes" method="post">
                <img src="Images/Food2.jpg" alt="" id="one">
              <input type="submit" name="getrecipe" value="Healthy" id="content" class="c2">  
            </form>   
            <form action="/GetRecipes" method="post">
                <img src="Images/Food3.jpg" alt="" id="one">
              <input type="submit"  name="getrecipe" value="5-Ingredients" id="content" class="c3"> 
            </form>   
            <form action="/GetRecipes" method="post">
                <img src="Images/Food4.jpg" alt="" id="one">
               <input type="submit" name="getrecipe" value="Pasta" id="content" class="c4"> 
            </form>   
            
        </div>
        <div class="variety">
            <form action="/GetRecipes" method="post">
                <img src="Images/Food1.jpg" alt="" id="two">
                <input type="submit" name="getrecipe" value="Quick And Easy" id="content2">  
            </form>   
                <form action="/GetRecipes" method="post">
                <img src="Images/Dinner.jpg" alt="" id="two">
                <input type="submit" name="getrecipe" value="Dinner" id="content2"> 
            </form>   
                <form action="/GetRecipes" method="post">
                <img src="Images/Vegetarian.jpg" alt="" id="two">
                <input type="submit" name="getrecipe" value="Vegetarian" id="content2"> 
            </form>   
                <form action="/GetRecipes" method="post">
                <img src="Images/Healthy.jpg" alt="" id="two">
                <input type="submit" name="getrecipe" value="Healthy" id="content2"> 
            </form>   
                <form action="/GetRecipes" method="post">
                <img src="Images/Instant.jpg" alt="" id="two">
                <input type="submit" name="getrecipe" value="Instant" id="content2"> 
            </form>   
                <form action="/GetRecipes" method="post">
                <img src="Images/Meal Prep.jpg" alt="" id="two">
                <input type="submit" name="getrecipe" value="Meal" id="content2"> 
            </form>   
                
        </div>
    </div>
        
        <div class="modal">
            <h3 style="text-align: center;">SIMPLE RECIPES MADE FOR <span id="SPAN">real, actual, everyday life.</span></h3>
                <div class="column">
                   
                  <div class="content2">
                    <img src="Images/Meal-Prep-Pasta-with-Cauliflower.jpg" alt="" style="width:100%">
                    <h3>MOST POPULAR RECIPES</h3>
                    
                    <p>Butter Chicken</p>
                    <p>Chole</p>
                    <p>Chicken Biryani</p>
                    <p>Samosa</p>
                 
                  </div>
                </div>
                <div class="column">
                  <div class="content2">
                  <img src="Images/Cauliflower-Black-Bean-Tostadas-4.jpg" alt="" style="width:100%">
                    <h3>TOP RATED RECIPES</h3>
                    <p>Ravioli</p>
                    <p>Soba Noodles</p>
                    <p>Mee Goreng</p>
                    <p>Lasagna</p>
                  </div>
                </div>
                <div class="column">
                  <div class="content2">
                  <img src="Images/Meal Prep.jpg" alt="" style="width:100%">
                    <h3>THE LATEST AND GREATEST</h3>
                    <p>Blueberry Matcha Latte</p>
                    <p>Avocado Caesar Green Beans</p>
                    <p>Beet And Burrata Salad</p>
                    <p>Salmon Tacos</p>
                  </div>
                </div>
                <div class="column">
                  <div class="content2">
                  <img src="Images/Red-Curry-Chicken-Stir-Fry-10-225x225.jpg" alt="" style="width:100%">
                    <h3>HEATHIEST RECIPES</h3>
                    <p>Butter Chicken</p>
                    <p>Chole</p>
                    <p>Chicken Biryani</p>
                    <p>Samosa</p>
                  </div>
                </div>
            </div>    
    </main>
   
    <div class="footer">
      <div class="icons">
        <p class="follow"><strong style="letter-spacing: 1px;">FOLLOW US FOR MORE UPDATES</strong></p>
        <i class="fa fa-instagram icon" data-tooltip="Instagram"></i>
        <i class="fa fa-pinterest icon"data-tooltip="Pinterest"></i>
        <i class="fa fa-youtube-play icon"data-tooltip="YouTube"></i>
        <i class="fa fa-facebook icon"data-tooltip="Facebook"></i>
        <i class="fa fa-linkedin icon"data-tooltip="LinkedIn"></i>
      </div>
      <ul>
          <li><strong>FOOD & RECIPES</strong></li>
          <li>
            <form action="/GetRecipes" method="post">
            <input type="submit" name="getrecipe" value="DINNER">
          </form>
        </li>
          <li><form action="/GetRecipes" method="post">
            <input type="submit" name="getrecipe" value="MOST POPULAR RECIPES">
          </form></li>
          <li><form action="/GetRecipes" method="post">
            <input type="submit" name="getrecipe" value="5-INGREDIENTS">
          </form></li>
          <li><form action="/GetRecipes" method="post">
            <input type="submit" name="getrecipe" value="QUICK AND EASY">
          </form></li>
          <li><form action="/GetRecipes" method="post">
            <input type="submit" name="getrecipe" value="HEALTHY">
          </form></li>
          <li><form action="/GetRecipes" method="post">
            <input type="submit" name="getrecipe" value="VEGETARIAN">
          </form></li>
          <li><form action="/GetRecipes" method="post">
            <input type="submit" name="getrecipe" value="NON-VEGETARIAN">
          </form></li>
          <li><form action="/GetRecipes" method="post">
            <input type="submit" name="getrecipe" value="SALADS">
          </form></li>
      </ul>
      <p id="copyright">&copy;Copyright<%= new Date().getFullYear() %>All Rights reserved.</p>
  </div>
  </div>
  <script>
    function toggleMenu() {
            var menu = document.getElementById('mobileMenu');
            if (menu.style.display==="none") {      
                menu.style.display = 'flex';          
            } else {
                menu.style.display="none";
            }
        }
</script>
  </body>
  </html>